#home,
#services,
#advantages,
#process,
#reviews,
#before-after,
#contacts {
  scroll-margin-top: 120px;
}

/* общий flow страницы */
.home-page {
  overflow: hidden;
}

/*  RESPONSIVE  */

@media (max-width: 768px) {
  #home,
  #services,
  #advantages,
  #process,
  #reviews,
  #before-after,
  #contacts {
    scroll-margin-top: 140px;
  }
}